body{
    margin: 0;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url(../img/Peru.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Maven Pro', sans-serif;
}

/*Video*/
video{
    width: 100%;
    height: 600px;
    align-items: center;
}

/*Carousel-item*/

.carousel-item img{
    height: 500px;
}
.card img{
    height: 240px;
    margin-top: 5px;
    border-radius: 10px;
}

/*Section-two*/
.card-img-filter{
    filter: brightness(0.5);
}
.card{
    transition-duration: 0.6s;
    clip-path: polygon(
        50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%, 0 0
    );
}
.card-effect:hover .card {
    clip-path: polygon(
        50% 0,50% 0, 100% 50%, 100% 50%, 50% 100%, 50% 100%, 0 50%, 0 50%
    );
}
.card-effect:hover .card-img-overlay{
    transition-duration: 0.6s;
}
.card-effect:hover .card-img-overlay{
    transform: scale(0.9);
}
/*Galeria*/
.modal-body{
    text-align: center;
}
/*Footer*/

footer{
    margin-top: 10%;
    background-color: black;
    padding: 15px;
}

@media (max-width: 360px) {
    video{
        margin-top: -60%;
    }
    .container-fluid {
        margin-top: 30%;
    }
}

